# ========== GENERAL APP SETTINGS ==========
PORT=
CLIENT_ORIGIN=
SOCKET_ORIGIN=
VITE_API_URL=https://lyricflow.it.com

# ========== DATABASE ==========
MONGO_URI=

# ========== AUTHENTICATION ==========
JWT_SECRET=
JWT_EXPIRES_IN=
SESSION_SECRET=

# ========== GOOGLE OAUTH ==========
GOOGLE_CLIENT_ID=668553481523-f59nfgo2p0ikugk0aqefpcfu2q7auh2i.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
VITE_CLIENT_ORIGIN=
VITE_CLIENT_AFTER_OAUTH=

# ========== BACKEND API / SOCKET.IO ==========
VITE_SOCKET_URL=

# ========== RECAPTCHA ==========
RECAPTCHA_PROJECT_ID=
RECAPTCHA_SITE_KEY=

# ========== PAYPAL ==========
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=
PAYPAL_PLAN_PREMIUM=
PAYPAL_PLAN_ENTERPRISE=

# ========== AI (OPTIONAL) ==========
GEMINI_API_KEY=
GEMINI_MODEL=

# ========== EMAIL ==========
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
APP_PASSWORD=
